<%- include('partials/header') -%>
<body>
  <div class="salon-clients-feed">
<div class="form">
<div class="flex flex-col w-full border-opacity-50">
  <!-- <div class="grid h-20 card bg-base-300 rounded-box place-items-center">Salon Clients</div> -->

  <!-- <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <div class="col-6">
              <h2 class="card-title"><%= posts[i].clientName %></h2>
            </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>   -->
</div>
<section>
  <div class="overflow-x-auto w-full">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <!-- <input type="checkbox" class="checkbox" /> -->
            </label>
          </th>
          <th>Client Name <div class="text-sm opacity-50">Stylist Name</div></th>
          <th>Formula  <br> <span class="badge badge-ghost badge-sm">Haircut Details</span></th>
          <th>Date of last visit</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <th>
            <!-- <label>
              <input type="checkbox" class="checkbox" />
            </label> -->
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <% for(var i=0; i<posts.length; i++) {%>
                
                      <a href="/post/<%= posts[i]._id%>">
                        <img class="img-fluid" src="<%= posts[i].image%>">
                      </a>
                    
                      
                </div>
              </div>
              <div>
                <div class="font-bold"><%= posts[i].clientName %></div>
                
                <div class="text-sm opacity-50"><%= posts[i].createdBy %></div>
              </div>
             
            </div>
          </td>
          <td>
            <%= posts[i].formula %>
            <br>
            <span class="badge badge-ghost badge-sm"><%= posts[i].haircutNotes %></span>
          </td>
          <td><%= posts[i].createdAt.toDateString() %></td>
          <th>
            <a href="/post/<%= posts[i]._id%>">
            <button class="btn btn-ghost btn-xs"> 
                

              client card</button>
            </a>
          </th>
        </tr>
        <!-- row 2 -->
        <tr>
          <th>
            <!-- <label>
              <input type="checkbox" class="checkbox" />
            </label> -->
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <% } %>
                </div>
              </div>
              <div>
                <div class="font-bold"></div>
                <div class="text-sm opacity-50"></div>
              </div>
            </div>
          </td>
          <td>
            
            <br>
            <!-- <span class="badge badge-ghost badge-sm"></span> -->
          </td>
          <td></td>
          <th>
            <button class="btn btn-ghost btn-xs"></button>
          </th>
        </th>
        </tr>
        <!-- row 3 -->
        <!-- <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="/tailwind-css-component-profile-4@56w.png" alt="Avatar Tailwind CSS Component" />
                </div>
              </div>
              <div>
                <div class="font-bold">Marjy Ferencz</div>
                <div class="text-sm opacity-50">Russia</div>
              </div>
            </div>
          </td>
          <td>
            Rowe-Schoen
            <br>
            <span class="badge badge-ghost badge-sm">Office Assistant I</span>
          </td>
          <td>Crimson</td>
          <th>
            <button class="btn btn-ghost btn-xs">client card</button>
          </th>
        </tr> -->
        <!-- row 4 -->
        <!-- <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="/tailwind-css-component-profile-5@56w.png" alt="Avatar Tailwind CSS Component" />
                </div>
              </div>
              <div>
                <div class="font-bold">Yancy Tear</div>
                <div class="text-sm opacity-50">Brazil</div>
              </div>
            </div>
          </td>
          <td>
            Wyman-Ledner
            <br>
            <span class="badge badge-ghost badge-sm">Community Outreach Specialist</span>
          </td>
          <td>Indigo</td>
          <th>
            <button class="btn btn-ghost btn-xs">details</button>
          </th>
        </tr> -->
      </tbody>
      <!-- foot -->
      <!-- <tfoot>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Formula</th>
          <th>Date of last Visit</th>
          <th></th>
        </tr>
      </tfoot> -->
      
    </table>
  </div>
</div>
</section>

<section>
  <!-- <div>
    <a class="btn btn-primary feedtop" href="/myclients"> My Clients</a>
    </div>  
    <div class="row justify-content-around mt-5 feed">
      <a class="btn btn-primary" href="/newclient">Add New Client</a>
      </div> -->
    
</section>
</div>
</body>

<%- include('partials/footer') -%>