<%- include('partials/header') -%>
<div class="new-client-main">
  <div class="flex flex-col w-full border-opacity-50">
  </div>
  <div class="my-clients text-2xl"></div>

   <div class="grid-container">  
    <% for(var i=0; i<posts.length; i++) {%>
      <div class="card card-compact w-96 bg-base-100 shadow-xl-client-card">
        <div class="card-body">
        <figure>
        <a href="/post/<%= posts[i]._id%>">
          <img class="client-image" src="<%= posts[i].image%>" alt="picture of client">
        </a>
      </figure>
     
        <h2 class="card-title"><%= posts[i].clientName %></h2>
        <%= posts[i].formula %>

        <span class="badge badge-ghost badge-sm"><%= posts[i].haircutNotes %></span>
        <div class="card-actions justify-end">
      <p><%= posts[i].createdAt.toDateString() %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>




  <div class="add-new">
  <a class="button-add-new" href="/newclient">Add New Client</a>
  </div>

</div>
</div>



<%- include('partials/footer') -%>