<%- include('partials/header') -%>
<div class="form">
<div class="flex flex-col w-full border-opacity-50">
  <!-- <div class="grid h-20 card bg-base-300 rounded-box place-items-center">My Client Formula Cards</div>
</div> -->
<div class="add-new-client">My Clients</div>

   <div class="grid-container">  
    <% for(var i=0; i<posts.length; i++) {%>
      <div class="card card-compact w-96 bg-base-100 shadow-xl">
        <div class="card-body">
        <figure>
        <a href="/post/<%= posts[i]._id%>">
          <img src="<%= posts[i].image%>">
        </a>
      </figure>
     
        <h2 class="card-title"><%= posts[i].clientName %></h2>
        <%= posts[i].formula %>

        <span class="badge badge-ghost badge-sm"><%= posts[i].haircutNotes %></span>
        <div class="card-actions justify-end">
      <p><%= posts[i].createdAt.toDateString() %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>




<div class="row justify-content-around mt-5 feed">
  <a class="btn btn-primary" href="/newclient">Add New Client</a>
  </div>

</div>
</div>

<!-- <div class="row justify-content-around mt-5 feed">
<a class="btn btn-primary" href="/feed">Return to Salon Feed</a>
</div> -->



<%- include('partials/footer') -%>